<h3>Entradas</h3>
<div class="row">
    <table class="table table-hover table-condensed table-striped">
        <tr>
            <th>Data</th>
        </tr>
        <tr ng-click="expand = !expand">
            <td>
                06/02/2017<a class="pull-right"><span class="glyphicon glyphicon-list"></span></a>
                <table ng-if="expand" class="table table-condensed table-striped table-bordered">
                    <tr>
                        <th>Item</th>
                        <th>#</th>
                    </tr>
                    <tr>
                        <td>HD Sata</td>
                        <td>3</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>